@media (prefers-reduced-motion: no-preference) {
  .theme-toggle img {
    transition: rotate var(--duration-mid) var(--ease);
  }

  .theme-toggle:is(:hover, :focus-visible) img {
    rotate: 20deg;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}
