---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import ShipmentLedger from "@/components/ShipmentLedger.astro";
import Judgment from "@/components/Judgment.astro";
import Contact from "@/components/Contact.astro";
---

<Layout>
  <main id="main">
    <Hero />
    <ShipmentLedger />
    <Judgment />
    <Contact />
  </main>
</Layout>
